.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    font: inherit;
    --primary-50: #e7e7ed;
    --primary-100: #b6b3c6;
    --primary-200: #928fab;
    --primary-300: #605c84;
    --primary-400: #413c6d;
    --primary-500: #120b48;
    --primary-600: #100a42;
    --primary-700: #0d0833;
    --primary-800: #0a0628;
    --primary-900: #08051e;
    --background: #1B233D;

    --secondary-50: #e6f3f3;
    --secondary-100: #b0d8d8;
    --secondary-200: #8ac6c6;
    --secondary-300: #54abab;
    --secondary-400: #339b9b;
    --secondary-500: #008282;
    --secondary-600: #007676;
    --secondary-700: #005c5c;
    --secondary-800: #004848;
    --secondary-900: #003737;

    --clr-fair-black: #141414;
    --clr-black: #000;
    --clr-white: #fff;
    --gray: #616163;

    --transition: all 350ms ease-in-out;
    --container-md: 94%;
    --container-lg: 88%;
}


ul[role="list"],
ol[role="list"] {
    list-style: none;
}


html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
   
    min-width: 320px;
}


a:not([class]) {
    text-decoration-skip-ink: auto;
}


img,
picture,
svg {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.container {
    width: var(--container-md);
    margin: 0 auto;
}

.section__title {
    color: var(--clr-fair-black);
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Sora', sans-serif;
}

@media (min-width:880px) {
    .container {
        width: var(--container-lg);
    }
}